<a href="https://colab.research.google.com/github/hyeriong/Data_Analysis/blob/main/DataFrame_Search.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터프레임 조회하기

## seaborn 데이터셋 모음
- 파이썬 seaborn 패키지에는 다양한 내장데이터가 존재한다.
- 자세한 내용은 추후에 다룰 것!

In [1]:
# seaborn 패키지 불러오기
import seaborn as sns

In [2]:
# seaborn 데이터셋 목록
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [4]:
# 데이터셋 불러오기(이번 챕터에서 사용할 데이터셋은 iris)
iris = sns.load_dataset('iris')

In [5]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [6]:
# iris 데이터 행렬 개수
iris.shape

(150, 5)

## 열 조회
- https://github.com/hyeriong/Data_Analysis/blob/main/DataFrame_Columns.ipynb

- 앞서 언급했으므로 간단하게 정리

** head() : 시리즈 및 데이터프레임에서 앞 데이터만 보여줌, 괄호 안에 들어가는 숫자에 따라 몇 개를 보여줄지 결정되며, 괄호 안을 공백으로 두면 default값인 5개만 출력됨.

In [7]:
# 전체 컬럼명 조회
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [14]:
# 특정 컬럼명 조회
iris['sepal_length'].head()   # 대괄호 한 번 -> 시리즈 형태로 출력

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: sepal_length, dtype: float64

In [15]:
iris[['sepal_length']].head()   # 대괄호 두 번 -> 데이터프레임 형태로 출력

   sepal_length
0           5.1
1           4.9
2           4.7
3           4.6
4           5.0

In [13]:
# 두 개 이상의 열 조회
iris[['sepal_width', 'species']].head()   # 이때 대괄호 한 번 쓰면 오류 발생

   sepal_width species
0          3.5  setosa
1          3.0  setosa
2          3.2  setosa
3          3.1  setosa
4          3.6  setosa

In [16]:
# 특정 열의 특정 값 조회
iris['species'][1]
# iris.species[1] 동일한 값 출력됨

'setosa'

In [31]:
# 특정 컬럼의 고유값 조회(해당 컬럼이 가진 값 조회)
iris['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [34]:
# 각 컬럼의 고유값의 도수 조회
iris.nunique()

sepal_length    35
sepal_width     23
petal_length    43
petal_width     22
species          3
dtype: int64

## 행 조회(+ 열 조회)

### loc
- location의 약자
- 인덱스 네임으로 조회하는 방식
- 데이터프레임의 행렬 라벨 혹은 boolean array을 통해 데이터 조회
- 테이블명.loc[행 인덱싱 값, 열 인덱싱 값]

In [19]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [17]:
# 1. loc
# 첫 번째 행 추출하기
iris.loc[0]

sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
Name: 0, dtype: object

In [20]:
# 이때도 마찬가지로 대괄호 두 번 쓰면 데이터프레임 형식으로 출력된다.
iris.loc[[0]]

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa

In [21]:
# 두 번째 행의 species 컬럼 추출
iris.loc[1, 'species']

'setosa'

In [25]:
# 행 인덱싱 값 부분에 :을 쓰면 species 컬럼의 모든 값을 가져온다(슬라이싱)
iris.loc[:, 'species']

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [28]:
# sepal_length ~ petal_length컬럼의 전체 값을 가져오기
iris.loc[:, :'petal_length']

     sepal_length  sepal_width  petal_length
0             5.1          3.5           1.4
1             4.9          3.0           1.4
2             4.7          3.2           1.3
3             4.6          3.1           1.5
4             5.0          3.6           1.4
..            ...          ...           ...
145           6.7          3.0           5.2
146           6.3          2.5           5.0
147           6.5          3.0           5.2
148           6.2          3.4           5.4
149           5.9          3.0           5.1

[150 rows x 3 columns]

In [29]:
# 위에 출력된 데이터프레임에서 3번째 줄까지만 가져오기
iris.loc[:3, :'petal_length']

   sepal_length  sepal_width  petal_length
0           5.1          3.5           1.4
1           4.9          3.0           1.4
2           4.7          3.2           1.3
3           4.6          3.1           1.5

In [30]:
# 조건을 붙여서(conditioning) 추출할 수도 있다.
iris.loc[(iris['sepal_length'] > 7) & (iris['species'] == 'virginica')]

     sepal_length  sepal_width  petal_length  petal_width    species
102           7.1          3.0           5.9          2.1  virginica
105           7.6          3.0           6.6          2.1  virginica
107           7.3          2.9           6.3          1.8  virginica
109           7.2          3.6           6.1          2.5  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
122           7.7          2.8           6.7          2.0  virginica
125           7.2          3.2           6.0          1.8  virginica
129           7.2          3.0           5.8          1.6  virginica
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica

In [44]:
# 조건을 붙여서 추출한 데이터의 특정 컬럼 값 추출
iris.loc[(iris['sepal_length'] > 6) & (iris['petal_length'] > 6.3), 'petal_width':'species']

     petal_width    species
105          2.1  virginica
117          2.2  virginica
118          2.3  virginica
122          2.0  virginica
131          2.0  virginica

### iloc은 다음 챕터에서