<a href="https://colab.research.google.com/github/hyeriong/Data_Analysis/blob/main/NAN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터분석 기초

## Kaggle에서 데이터셋 가져오기
- https://www.kaggle.com/datasets/sonu1maheshwari/bookingscom
- booking.com 호텔 데이터셋
  - 전 세계 220개 이상의 국가 및 지역에서 호텔, 아파트, 별장 등 다양한 숙박 옵션을 제공하는 세계 최고의 온라인 여행사 중 하나인 booking.com의 이름, 평점, 리뷰, 위치를 포함한 호텔 정보를 수집

In [19]:
from google.colab import files
uploaded = files.upload()

Saving Bookings.csv to Bookings (2).csv

In [20]:
import io
import pandas as pd

In [21]:
bookings = pd.read_csv(io.BytesIO(uploaded['Bookings.csv']))

In [22]:
bookings

,Unnamed: 0,Hotel_Name,Review,Total_Review,Rating,Location
0,0,Oakwood Residence Midtown East,Superb,28,9.1,Murray Hill
1,1,Murray Hill East Suites,Good,52,7.6,Murray Hill
2,2,The Herald 8 by LuxUrban,Good,"2,870",7.8,Manhattan
3,3,"The Cloud One New York-Downtown, by the Motel ...",Very good,975,8.3,Wall Street - Financial District
4,4,Pod Times Square,Very good,"13,951",8.1,Hell's Kitchen
...,...,...,...,...,...,...
520,520,Fantastic 3BR At Financial District,NaN,NaN,NaN,Wall Street - Financial District
521,521,3 Bedroom Apartment In Midtown East,NaN,NaN,NaN,Manhattan
522,522,2BD 1BA Apartment At Financial District,NaN,NaN,NaN,Wall Street - Financial District
523,523,2BD 1BA Apartment At Wall Street,NaN,NaN,NaN,Wall Street - Financial District
524,524,Two BD Apartment At Midtown East,NaN,NaN,NaN,Manhattan

In [23]:
bookings.drop(columns = 'Unnamed: 0', inplace = True)  # 불필요한 컬럼 삭제

In [24]:
bookings.head()

,Hotel_Name,Review,Total_Review,Rating,Location
0,Oakwood Residence Midtown East,Superb,28,9.1,Murray Hill
1,Murray Hill East Suites,Good,52,7.6,Murray Hill
2,The Herald 8 by LuxUrban,Good,"2,870",7.8,Manhattan
3,"The Cloud One New York-Downtown, by the Motel ...",Very good,975,8.3,Wall Street - Financial District
4,Pod Times Square,Very good,"13,951",8.1,Hell's Kitchen

- isnull()
- isna()

In [25]:
# 결측치 확인
bookings.isnull().sum()

Hotel_Name        0
Review          200
Total_Review    200
Rating          210
Location          0
dtype: int64

In [26]:
bookings.isna().sum()

Hotel_Name        0
Review          200
Total_Review    200
Rating          210
Location          0
dtype: int64

In [27]:
bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525 entries, 0 to 524
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Hotel_Name    525 non-null    object
 1   Review        325 non-null    object
 2   Total_Review  325 non-null    object
 3   Rating        315 non-null    float64
 4   Location      525 non-null    object
dtypes: float64(1), object(4)
memory usage: 20.6+ KB

- 거의 절반이 결측치임을 알 수 있다.

In [28]:
bookings.head(30)

,Hotel_Name,Review,Total_Review,Rating,Location
0,Oakwood Residence Midtown East,Superb,28,9.1,Murray Hill
1,Murray Hill East Suites,Good,52,7.6,Murray Hill
2,The Herald 8 by LuxUrban,Good,"2,870",7.8,Manhattan
3,"The Cloud One New York-Downtown, by the Motel ...",Very good,975,8.3,Wall Street - Financial District
4,Pod Times Square,Very good,"13,951",8.1,Hell's Kitchen
5,West Side YMCA,Review score,"8,044",6.6,Upper West Side
6,Hyatt Place New York City/Times Square,Good,"16,148",7.6,Hell's Kitchen
7,The Tuscany Powered by LuxUrban,Good,343,7.5,Murray Hill
8,Hilton Garden Inn New York Central Park South-...,Good,"6,038",7.1,Manhattan
9,"Crowne Plaza Times Square Manhattan, an IHG Hotel",Good,"2,028",7.7,Manhattan
10,"The New Yorker, A Wyndham Hotel",Good,"9,659",7.7,Hell's Kitchen
11,The Manhattan at Times Square,Review score,"4,435",5.6,Manhattan
12,Riu Plaza Manhattan Times Square,Fabulous,"7,298",8.6,Manhattan
13,Hotel Edison Times Square,Good,"11,455",7.3,Manhattan
14,Paramount Hotel Times Square,Review score,"2,802",6.5,Manhattan
15,Courtyard by Marriott Times Square West,Very good,"1,847",8.2,Hell's Kitchen
16,Four Points by Sheraton New York Downtown,Good,"2,189",7.2,Wall Street - Financial District
17,Courtyard New York Downtown Manhattan/Financia...,Good,703,7.3,Wall Street - Financial District
18,DoubleTree by Hilton Hotel New York City - Che...,Good,"1,382",7.3,Chelsea
19,Fairfield Inn & Suites By Marriott New York Ma...,Good,"4,646",7.7,Hell's Kitchen
20,Home2 Suites By Hilton New York Times Square,Very good,951,8.0,Manhattan
21,Hilton Garden Inn New York/Midtown Park Avenue,Very good,"4,498",8.1,Manhattan
22,SpringHill Suites by Marriott New York Manhatt...,Very good,"1,475",8.5,Chelsea
23,CIVILIAN Hotel,Good,"6,245",7.0,Hell's Kitchen
24,Millennium Hotel Broadway Times Square,Superb,28,9.1,Manhattan
25,Oakwood Residence Midtown East,Good,52,7.6,Murray Hill
26,Murray Hill East Suites,Good,"2,870",7.8,Murray Hill
27,The Herald 8 by LuxUrban,Very good,975,8.3,Manhattan
28,"The Cloud One New York-Downtown, by the Motel ...",Very good,"13,951",8.1,Wall Street - Financial District
29,Pod Times Square,Review score,"8,044",6.6,Hell's Kitchen

In [29]:
bookings.tail(30)

,Hotel_Name,Review,Total_Review,Rating,Location
495,Exotic 1BR Apartment At Columbus Circle,NaN,NaN,NaN,Manhattan
496,East Village 2br w wd nr Union Sq NYC-937,NaN,NaN,NaN,East Village
497,Midtown E 2BR w Balcony Gym Doorman NYC-40,NaN,NaN,NaN,Murray Hill
498,Hells Kitchen 2BR w Pool DM nr Central Park NY...,NaN,NaN,NaN,Hell's Kitchen
499,317-1A New Modern 1BR W&D Walk to Central Park,NaN,NaN,NaN,Upper East Side
500,Gramercy Park 2br w wd balcony nr 6 train NYC-947,NaN,NaN,NaN,Gramercy
501,Tribeca Studio Indoor pool Great views NYC-185,NaN,NaN,NaN,Tribeca
502,Central Chelsea Studio w Balcony Doorman NYC-34,NaN,NaN,NaN,Chelsea
503,Unique 2BR Near Times Square,NaN,NaN,NaN,Hell's Kitchen
504,Studio in Upper Manhattan Great Monthly Deal,NaN,NaN,NaN,Harlem
505,The Chelsea Escape,NaN,NaN,NaN,Chelsea
506,Posh 4 Bedroom Times Square Penthouse With Pri...,NaN,NaN,NaN,Hell's Kitchen
507,Oasis II: Central Harlem,NaN,NaN,NaN,Harlem
508,Outsite Chelsea,NaN,NaN,NaN,Chelsea
509,Studio In Heart Of Chelsea,NaN,NaN,NaN,Chelsea
510,Luxurious 3 Beds 2 Baths By Central Park,NaN,NaN,NaN,Upper West Side
511,Luxurious 2 Beds 2 Baths In Murray Hill,NaN,NaN,NaN,Manhattan
512,NYC surreal Loft with 6 bedrooms and stunning ...,NaN,NaN,NaN,Chelsea
513,317-3D I NEW Modern 1BR W&D Walk to Central Park,NaN,NaN,NaN,Upper East Side
514,Luxury 2 Beds 2 Baths In Murray Hill,NaN,NaN,NaN,Manhattan
515,Luxury 3 Beds 2 Baths In Murray Hill,NaN,NaN,NaN,Manhattan
516,Luxury 2BD 2BA At Upper West Side,NaN,NaN,NaN,Upper West Side
517,3BD 2BA Modern Apartment In NYC,NaN,NaN,NaN,Manhattan
518,Excellent 2 BD Apartment At Murray Hill,NaN,NaN,NaN,Manhattan
519,Fantastic 2BR At Financial District,NaN,NaN,NaN,Wall Street - Financial District
520,Fantastic 3BR At Financial District,NaN,NaN,NaN,Wall Street - Financial District
521,3 Bedroom Apartment In Midtown East,NaN,NaN,NaN,Manhattan
522,2BD 1BA Apartment At Financial District,NaN,NaN,NaN,Wall Street - Financial District
523,2BD 1BA Apartment At Wall Street,NaN,NaN,NaN,Wall Street - Financial District
524,Two BD Apartment At Midtown East,NaN,NaN,NaN,Manhattan

- 호텔 예약 및 평점 데이터이므로, 결측값이 있다는 건 방문율이 낮거나 리뷰 데이터가 없는 호텔일 가능성이 있다.